body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-source-serif-pro: "Source Serif Pro";

  /* font sizes */
  --font-size-xs: 10px;
  --font-size-5xs: 10px;
  --font-size-sm: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-honeydew-100: #f0f7ea;
  --color-honeydew-200: #efefef;
  --color-silver: #afb8b5;
  --color-lightcoral: #ed6976;
  --color-khaki: #feda66;

  /* Border radiuses */
  --br-8xs: 5px;
}

/* If you have more specific layout requirements, you can add them here */

