.left-hemisphere,
.right-hemisphere {
  /* font-size: var(--font-size-sm); */
  /* width: auto; */
  /* height: auto; */
  /* flex box  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.percentile-value,
.reading{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-label {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 56px;
  right: 510px;
  font-size: var(--font-size-sm);
  width: 124px;
  font-weight: 400;

}

.percentile-value,
.reading {
  font-weight: 200;
  font-size: var(--font-size-sm);
  height: 16px;
}

.reading {
  width: 55.1%;
  top: 5px;
  left: 23.33%;
}

.percentile-value {
  top: 26px;
  left: calc(50% - 31.5px);
  width: 72px;
}


.container {
  /* left: 30px; */
  /* top: 25px; */
  width: 172px;
  height: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Serif Pro", serif;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  /* padding-top: 5px; */
  top: 50px;

  /* space in between items in row*/
  gap: 10px;
  
}

.measure-text {
  font-weight: 400;
  font-size: 10px;
  /* line-height: 12.53px; */
  color: #000000;
  margin: 0 10px;
}

.measure-subtext {
  position: absolute;
  font-weight: 400;
  font-size: 8px;
  /* line-height: 10.02px; */
  color: #6c6c6cff;
  margin-top: -10px;
}

.percentile-box {
  width: 140px;
  height: auto;
  position: relative;
  /* margin-top: 10px; */
}

.percentile-box .change-arrow {
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-10%, -50%);
  z-index: 10;
  /*  Ensure it's above other elements */
  width: 36px;
  /* Example width, adjust as needed */
  top: 6px;

}

.percentile-box .change-arrow-test {
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-10%, -50%);
  z-index: 10;
  /*  Ensure it's above other elements */
  width: 36px;
  top: 6px;

}

.percentile-box .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 100%;
  /* margin-top: 5px; */
}

.percentile-box .bar div {
  height: 100%;
}

.percentile-box .bar .rect-1 {
  width: 18px;
  background-color: #ff6666;
  /* red */
  /* give it a stroke */
  border: 0.5px solid #000000;
  /* remove right stroke */
  border-right: none;
}

.percentile-box .bar .rect-2 {
  width: 24px;
  background-color: #ffd966;
  /* yellow */
  border: 0.5px solid #000000;
  border-right: none;

}

.percentile-box .bar .rect-3 {
  width: 84px;
  background-color: #d8f5f5;
  /* green */
  border: 0.5px solid #000000;
  border-right: none;


}

.percentile-box .bar .rect-4 {
  width: 24px;
  background-color: #ffd966;
  /* yellow */
  border: 0.5px solid #000000;
  border-right: none;
}

.percentile-box .bar .rect-5 {
  width: 18px;
  background-color: #ff6666;
  /* red */
  border: 0.5px solid #000000;
}

.percentile-box .normal-range-measure {
  font-weight: 400;
  font-size: 8px;
  /* line-height: 7.52px; */
  color: #afb8b5;
  text-align: center;
  margin-top: 2px;
}

.normal-range-text{
  font-weight: 400;
  font-size: 8px;
  color: #afb8b5;
  text-align: center;
  margin-top: 2px;
}


/* 
.percentile-box-child {
  position: absolute;
  top: 0;
  left: calc(50% - 84.5px);
  background-color: var(--color-honeydew-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 169px;
  height: 15px;
}

.percentile-box-child1,
.percentile-box-inner,
.percentile-box-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-khaki);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 39px;
  height: 15px;
}

.percentile-box-child1,
.percentile-box-inner,
.rectangle-div {
  background-color: var(--color-lightcoral);
  width: 13px;
}

.percentile-box-child1,
.rectangle-div {
  left: 130px;
  background-color: var(--color-khaki);
  width: 39px;
}

.percentile-box-child1 {
  left: 156px;
  background-color: var(--color-lightcoral);
  width: 13px;
}

.percentile-box {
  position: absolute;
  top: 47px;
  left: calc(50% - 84.5px);
  width: 169px;
  height: 15px;
} */

.b, .div1 {
  position: absolute;
  left: 49px;
  font-size: var(--font-size-5xs);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  top: 48px;
  font-weight: 600;
  color: var(--color-silver);
  width: 90px;
  height: 14px;
}

.b {
  top: 47px;
  width: 14px;
  height: 15px;
}

.rh-tile,
.lh-tile {
  position: absolute;
  top: 187.5px;
  right: 107px;
  border-radius: var(--br-8xs);
  background-color: var(--color-honeydew-200);
  width: 189px;
  height: 74px;
  overflow: hidden;
}

.lh-tile {
  right: 320px;
}


.table {
  /* top: 149px; */
  /* left: 350px; */
  transform: translate(-50%,0) scale(1.1);
  left: 50%;
  width: 700px;
  height: 870px;
  text-align: center;
  /* size: a4; */
  margin-top: 80px;
  position: relative;
}

.metadata {
  width: 80%; /* Adjust the width as necessary */
  margin-bottom: 20px; /* Spacing below the table */
  /* give padding above table */
  padding-top: 10px;
  font-size: 12px;
}

.metadata table {
  width: 70%; /* Adjust the width as necessary */
  border-collapse: collapse;
}

.metadata td {
  padding: 2px; /* Adjust padding as necessary */
  padding-left: 15px;
  text-align: left;
}

.metadata .key {
  font-weight: bold; /* Make key cells bold */
}

.metadata .value {
  font-weight: normal; /* Ensure value cells are not bold */
}


.disclaimer {
  /* position: absolute; */
  top: 12px;
  left: 0;
}

.footer{
  /* add footer to very bottom of page */
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;

}

.main-title,
.sub-title {
  /* position: absolute; */
  top: 24px;
  left: 0;
  font-size: 14px;
}

.main-title {
  top: 0;
  font-size: 20px;
  font-weight: 600;
}

.header-line {
  /* position: absolute; */
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}

.logo {
  /* position: absolute; */
  top: 2px;
  left: 557px;
  width: 184px;
  height: 58px;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* position: absolute; */
  top: 100px;
  /* left: 350px; */
  width: 100%;
  height: 66px;
  font-size: 10px;
}

@media screen {
  body {
    padding: 30px 15%;
    left: 50%
  }
}
