<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="static/css/index.css"
    />
    <link
      rel="stylesheet"
      href="static/css/global.css"
    />

    <!-- <link rel="stylesheet" -->
    <!-- href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400;600;700&display=swap" /> -->
  </head>

  <body>
    <div class="header">
      <div>
        <div class="main-title">{{ report.title }}</div>
        <div class="sub-title">{{ report.subtitle }}</div>
      </div>
      <!-- <img class="logo" alt="" src="/static/logo.png" /> -->
    </div>
    <div class="header-line"></div>

    <div class="metadata">
        <table>
          <tr>
            <td class="key">ID:</td>
            <td class="value">{{ report.ID }}</td>
          </tr>
          <tr>
            <td class="key">Sex:</td>
            <td class="value">{{ report.sex }}</td>
          </tr>
          <tr>
            <td class="key">Age at Scan 1:</td>
            <td class="value">{{ report.age1 }}</td>
          </tr>
          <tr>
            <td class="key">Age at Scan 2:</td>
            <td class="value">{{ report.age2 }}</td>
          </tr>
        </table>
      </div>

    <div id="table" class="table" style="padding-bottom: 100px;">
      <div>
        <div class="row" style="gap: 90px; padding-left: 146px; font-size: small;"
          <span class="left-hemisphere">Left Hemisphere</span>
          <span class="right-hemisphere">Right Hemisphere</span>
        </div>
      </div>
      <div>
        <div class="row" style="gap: 50px; padding-left: 135px; font-size: 12px;"
          <span class="left-hemisphere-scans">
            <row class="row" style="gap: 65px;">
              <span> Scan 1 </span>
              <span> Scan 2 </span>
            </row>
          </span>
          <span class="right-hemisphere-scans">
            <row class="row" style="gap: 65px;">
              <span> Scan 1 </span>
              <span> Scan 2 </span>
            </row>
          </span>
          </div>
        </div>
    </div>

    <!-- <div class="footer">
      <div class="disclaimer">** Report not for medical use **</div>
    </div> -->

    <!-- <div class="footer">
      <div class="disclaimer">** Report not for medical use **</div>
    </div> -->
  </body>
  <script>
    // Pass the report data to the external script by setting it as a global variable
    window.reportData = {{ report.csvData | tojson | safe }};
  </script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
