<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400;600;700&display=swap" />
</head>

<!-- <div class="a4-page"> -->

  <body>
    <div class="header">
      <div>
        <div class="brain-lobe-structures">{{ report.title }}</div>
        <div class="segmentation-report">{{ report.subtitle }}</div>
      </div>
      <img class="image-1-icon" alt="" src="/static/logo.png" />
    </div>
    <div class="header-child"></div>  

    <div class="metadata">
      <div class="evaluation">Evaluation: {{ report.date }} </div>
      <div class="order-id">Order ID: {{ report.orderID }}</div>
      <div class="sequence">Sequence: {{ report.sequence }}</div>
    </div>
    
    <div id="table" class="table">
      <b class="left-hemisphere">Left Hemisphere</b>
      <b class="right-hemisphere">Right Hemisphere</b>

    </div>
    
    <div class="footer">
      <div class="mockup-report-not">
        ** Template report not for medical use **
      </div>
      <!-- <img class="group-child" alt="" src="./public/line-2.svg" /> -->
    </div>
  </body>
<script>
    let paddingCnt = 44;
    function addRows(){
        let reportData = {{ report.csvData | tojson }};
        let report = {
            csvData: reportData
        }
        console.log(report)
        //  loop through the report data and add rows using keys and values
        for (let key in report.csvData) {
            if (report.csvData.hasOwnProperty(key)) {
                let value = report.csvData[key];
                // console.log(key, value);
                document.getElementById("table").appendChild(newRow(paddingCnt, key, value));
                paddingCnt += 84;
            }
        }
    }
    function calculatePosition(percentile) {
            // Define the pixel boundaries of the percentiles
            const boundaries = [0, 0.13, 2.28, 97.72, 99.87, 100];
            const pixelWidths = [13, 26, 91, 26, 13];
            let position = 0;
            let accumulatedWidth = 0;

            // Find the index for the percentile range
            const index = boundaries.findIndex((value) => percentile <= value) - 1;

            // Calculate the width covered by the previous segments
            for (let i = 0; i < index; i++) {
                accumulatedWidth += pixelWidths[i];
            }

            // Calculate the position within the current segment
            console.log(percentile, "-")
            if (index >= 0) {
                const segmentStartPercentile = boundaries[index];
                // console.log(segmentStartPercentile)
                const segmentEndPercentile = boundaries[index + 1];
                // console.log(segmentEndPercentile)
                const segmentWidth = pixelWidths[index];
                // console.log(segmentWidth)

                // Calculate the percentage of the way through the current segment
                const segmentPercent = (percentile - segmentStartPercentile) / (segmentEndPercentile - segmentStartPercentile);
                // console.log(segmentPercent)
                // Convert that to a pixel value and add it to the accumulated width
                position = accumulatedWidth + (segmentPercent * segmentWidth);
                // console.log(position)
            } else {
                // If the percentile is less than the first boundary, it's in the first segment
                position = (percentile / boundaries[1]) * pixelWidths[0];
            }

            return position;
    }
    function newRow(padding, key, value){
        let row = document.createElement("div");
        row.innerHTML = `
        <div class="row">
            <b class="frontal" style="top:${padding}px !important;">${value.display}</b>
            <div class="mm3-parent2" style="top:${padding}px !important;">
                <div class="mm3">${value.lh.volume} mm<sup>3</sup></div>
                <div class="div">${value.lh.percentile} %</div>
                <div class="percentile-box">
                <div class="percentile-box-child"></div>
                <div class="percentile-box-item"></div>
                <div class="percentile-box-inner"></div>
                <div class="rectangle-div"></div>
                <div class="percentile-box-child1"></div>
                </div>
                <div class="div1">(${value.lh.min} - ${value.lh.max})</div>
                <b class="b" style="position: absolute; left: ${calculatePosition(value.lh.percentile)}px; bottom: -10px; transform: translateX(23%);">◆</b>
            </div>
            <div class="mm3-parent1" style="top:${padding}px !important;">
                <div class="mm3">${value.rh.volume} mm<sup>3</sup></div>
                <div class="div">${value.rh.percentile} %</div>
                <div class="percentile-box">
                <div class="percentile-box-child"></div>
                <div class="percentile-box-item"></div>
                <div class="percentile-box-inner"></div>
                <div class="rectangle-div"></div>
                <div class="percentile-box-child1"></div>
                </div>
                <div class="div1">(${value.rh.min} - ${value.rh.max})</div>
                <b class="b" style="position: absolute; left: ${calculatePosition(value.rh.percentile)}px; bottom: -10px; transform: translateX(23%);">◆</b>
            </div>
        </div>
        `;
        return row;
    }
    addRows();
</script>

<style>

</style>

</html>

